<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSA 加解密</title>
    <script type="text/javascript" src="../../static/js/jsencrypt.min.js"></script>
</head>
<body>
    <textarea id="showData" style="width: 100%"></textarea>
    输入要加密的明文：<input id="dataText" type="text">
    <input type="button" value="生成密文" onclick="encryptData()">

    <script>
        function encryptData() {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey("MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLRYjMX2XF89KDNOPFSrpmvcpG8oUnxKtTyfr+I7z5pwMXVRC/geKVZeNTHtnfh04v7Glc3NLMjP6otfAC61kq5ROZSK+HRlRA76y9mYVgjHxm9P58NGWz8RXFFvbeq9/+DGIxpczcfPVqoaR3FPaGGAOwU9mlaODTVaUUF1wbjwIDAQAB");
            var data = encrypt.encrypt(document.getElementById("dataText").value);
            document.getElementById("showData").value = data;
            console.log(data);
        }
    </script>
</body>
</html>