<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.ExaminationHallMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.ExaminationHall">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hall_code" jdbcType="VARCHAR" property="hallCode" />
    <result column="exam_subjects_name" jdbcType="VARCHAR" property="examSubjectsName" />
    <result column="examinee_count" jdbcType="INTEGER" property="examineeCount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="exam_status" jdbcType="VARCHAR" property="examStatus" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="student_login_time" jdbcType="INTEGER" property="studentLoginTime" />
    <result column="Invigilators_login_time" jdbcType="INTEGER" property="invigilatorsLoginTime" />
    <result column="show_album" jdbcType="CHAR" property="showAlbum" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_way" jdbcType="VARCHAR" property="createWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />

    <result column="album_name" jdbcType="VARCHAR" property="albumName" />
    <result column="invigilator_names" jdbcType="VARCHAR" property="invigilatorNames" />
    <result column="invigilator_ids" jdbcType="VARCHAR" property="invigilatorIds" />
  </resultMap>

  <sql id="Base_Column_List">
    id, hall_code, exam_subjects_name, examinee_count, start_time, end_time, exam_status, 
    class_id, student_login_time, Invigilators_login_time, show_album, create_id, create_by, create_way,
    create_time, remark, is_delete, delete_time
  </sql>

  <sql id="Alias_Column_List">
    weh.id, weh.hall_code, weh.exam_subjects_name, weh.examinee_count, weh.start_time, weh.end_time, weh.exam_status,
    weh.class_id, weh.student_login_time, weh.Invigilators_login_time, weh.show_album, weh.create_id, weh.create_by, weh.create_way,
    weh.create_time, weh.remark, weh.is_delete, weh.delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_examination_hall
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--根据用户表的参数字段查询考试信息，比如：根据用户ID、根据用户姓名等，不涉及groupBy-->
  <select id="selectByUserParam" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List" />
    from wr_examination_hall weh
    LEFT JOIN wr_examination_hall_invigilators wehi ON weh.id=wehi.examination_hall_id
    LEFT JOIN wr_sys_user wsu ON wehi.sys_user_id=wsu.id AND wsu.is_delete='0'
    where weh.is_delete='0'
    <if test="sysUserId!=null and sysUserId!=''">
      AND wsu.id = #{sysUserId,jdbcType=VARCHAR}
    </if>
    <if test="examStatusNEQ!=null and examStatusNEQ!=''">
      AND weh.exam_status != #{examStatusNEQ,jdbcType=VARCHAR}
    </if>
    <if test="endTimeGTEQ!=null and endTimeGTEQ!=''">
      AND weh.end_time >= #{endTimeGTEQ,jdbcType=VARCHAR}
    </if>
    ORDER BY weh.start_time

  </select>


  <select id="queryListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List" />
    , CONCAT_WS("_",LEFT(weh.start_time,10),weh.hall_code,weh.exam_subjects_name) album_name
    , GROUP_CONCAT(wsu.person_name) invigilator_names, GROUP_CONCAT(wsu.id) invigilator_ids
    from wr_examination_hall weh
    LEFT JOIN wr_examination_hall_invigilators wehi ON weh.id=wehi.examination_hall_id
    LEFT JOIN wr_sys_user wsu ON wehi.sys_user_id=wsu.id AND wsu.is_delete='0'
    where weh.is_delete='0'
    <if test="examSubjectsName!=null and examSubjectsName!=''">
      AND weh.exam_subjects_name = #{examSubjectsName,jdbcType=VARCHAR}
    </if>
    <if test="showAlbum!=null and showAlbum!=''">
      AND weh.show_album = #{showAlbum,jdbcType=CHAR}
    </if>
    <if test="createId!=null and createId!=''">
      AND weh.create_id = #{createId,jdbcType=VARCHAR}
    </if>
    <if test="createBy!=null and createBy!=''">
      AND weh.create_by = #{createBy,jdbcType=VARCHAR}
    </if>
    group by weh.id

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_examination_hall
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.ExaminationHall">
    insert into wr_examination_hall (id, hall_code, exam_subjects_name, 
      examinee_count, start_time, end_time, 
      exam_status, class_id, student_login_time, 
      Invigilators_login_time, show_album, create_id, create_by,
      create_way, create_time, remark, 
      is_delete, delete_time)
    values (#{id,jdbcType=VARCHAR}, #{hallCode,jdbcType=VARCHAR}, #{examSubjectsName,jdbcType=VARCHAR}, 
      #{examineeCount,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{examStatus,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{studentLoginTime,jdbcType=INTEGER}, 
      #{invigilatorsLoginTime,jdbcType=INTEGER}, #{showAlbum,jdbcType=CHAR}, #{createId,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createWay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.ExaminationHall">
    insert into wr_examination_hall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hallCode != null">
        hall_code,
      </if>
      <if test="examSubjectsName != null">
        exam_subjects_name,
      </if>
      <if test="examineeCount != null">
        examinee_count,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="examStatus != null">
        exam_status,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="studentLoginTime != null">
        student_login_time,
      </if>
      <if test="invigilatorsLoginTime != null">
        Invigilators_login_time,
      </if>
      <if test="showAlbum != null">
        show_album,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createWay != null">
        create_way,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hallCode != null">
        #{hallCode,jdbcType=VARCHAR},
      </if>
      <if test="examSubjectsName != null">
        #{examSubjectsName,jdbcType=VARCHAR},
      </if>
      <if test="examineeCount != null">
        #{examineeCount,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examStatus != null">
        #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="studentLoginTime != null">
        #{studentLoginTime,jdbcType=INTEGER},
      </if>
      <if test="invigilatorsLoginTime != null">
        #{invigilatorsLoginTime,jdbcType=INTEGER},
      </if>
      <if test="showAlbum != null">
        #{showAlbum,jdbcType=CHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.ExaminationHall">
    update wr_examination_hall
    <set>
      <if test="hallCode != null">
        hall_code = #{hallCode,jdbcType=VARCHAR},
      </if>
      <if test="examSubjectsName != null">
        exam_subjects_name = #{examSubjectsName,jdbcType=VARCHAR},
      </if>
      <if test="examineeCount != null">
        examinee_count = #{examineeCount,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examStatus != null">
        exam_status = #{examStatus,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="studentLoginTime != null">
        student_login_time = #{studentLoginTime,jdbcType=INTEGER},
      </if>
      <if test="invigilatorsLoginTime != null">
        Invigilators_login_time = #{invigilatorsLoginTime,jdbcType=INTEGER},
      </if>
      <if test="showAlbum != null">
        show_album = #{showAlbum,jdbcType=CHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        create_way = #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.ExaminationHall">
    update wr_examination_hall
    set hall_code = #{hallCode,jdbcType=VARCHAR},
      exam_subjects_name = #{examSubjectsName,jdbcType=VARCHAR},
      examinee_count = #{examineeCount,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      exam_status = #{examStatus,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      student_login_time = #{studentLoginTime,jdbcType=INTEGER},
      Invigilators_login_time = #{invigilatorsLoginTime,jdbcType=INTEGER},
    show_album = #{showAlbum,jdbcType=CHAR},
    create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_way = #{createWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--批量更新 -->
  <update id="BatchUpdate" parameterType="java.util.Map">
    UPDATE wr_examination_hall
    <set>
      <if test="showAlbum != null">
        show_album = #{showAlbum,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </update>

  <!--批量删除 此操作很危险，不允许where后携带1=1，一旦参数未传将会删除整张表数据-->
  <delete id="batchDelete" parameterType="java.util.Map" >
    delete from wr_examination_hall
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </delete>

  <!--批量查询 -->
  <select id="BatchSelect" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from wr_examination_hall
    where
    <if test="idIn != null">
      is_delete='0' AND id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </select>

</mapper>