<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.LogOperMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.LogOper">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tab_name" jdbcType="VARCHAR" property="tabName" />
    <result column="oper_type" jdbcType="CHAR" property="operType" />
    <result column="perm_id" jdbcType="VARCHAR" property="permId" />

    <result column="is_cascade" jdbcType="CHAR" property="isCascade" />
    <result column="cascade_id" jdbcType="VARCHAR" property="cascadeId" />

    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_way" jdbcType="VARCHAR" property="createWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />

    <result column="perm_name" jdbcType="VARCHAR" property="permName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tab_name, oper_type, perm_id, is_cascade, cascade_id, create_id, create_by, create_way, create_time,
    remark, is_delete, delete_time
  </sql>

  <sql id="Alias_Column_List">
    wlo.id, wlo.tab_name, wlo.oper_type, wlo.perm_id, wlo.is_cascade, wlo.cascade_id, wlo.create_id, wlo.create_by, wlo.create_way, wlo.create_time,
    wlo.remark, wlo.is_delete, wlo.delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_log_oper
    where is_delete='0' and id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="queryListByPage" parameterType="com.shouzhi.pojo.db.LogOper" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List" />, wsp.name perm_name
    from wr_log_oper wlo
    LEFT JOIN wr_sys_permission wsp ON wlo.perm_id=wsp.id
    where wlo.is_delete='0'
    <if test="tabName!=null and tabName!=''">
      AND wlo.tab_name = #{tabName,jdbcType=VARCHAR}
    </if>
    <if test="createId!=null and createId!=''">
      AND wlo.create_id = #{createId,jdbcType=VARCHAR}
    </if>
    <if test="operType!=null and operType!=''">
      AND wlo.oper_type = #{operType,jdbcType=CHAR}
    </if>

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_log_oper
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.LogOper">
    insert into wr_log_oper (id, tab_name, oper_type, 
      perm_id, is_cascade, cascade_id, create_id, create_by,
      create_way, create_time, remark, 
      is_delete, delete_time)
    values (#{id,jdbcType=VARCHAR}, #{tabName,jdbcType=VARCHAR}, #{operType,jdbcType=CHAR},
      #{permId,jdbcType=VARCHAR}, #{isCascade,jdbcType=CHAR}, #{cascadeId,jdbcType=VARCHAR},
      #{createId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createWay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.LogOper">
    insert into wr_log_oper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tabName != null">
        tab_name,
      </if>
      <if test="operType != null">
        oper_type,
      </if>
      <if test="permId != null">
        perm_id,
      </if>
      <if test="isCascade != null">
        is_cascade,
      </if>
      <if test="cascadeId != null">
        cascade_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createWay != null">
        create_way,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tabName != null">
        #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null">
        #{operType,jdbcType=CHAR},
      </if>
      <if test="permId != null">
        #{permId,jdbcType=VARCHAR},
      </if>
      <if test="isCascade != null">
        #{isCascade,jdbcType=CHAR},
      </if>
      <if test="cascadeId != null">
        #{cascadeId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.LogOper">
    update wr_log_oper
    <set>
      <if test="tabName != null">
        tab_name = #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null">
        oper_type = #{operType,jdbcType=CHAR},
      </if>
      <if test="permId != null">
        perm_id = #{permId,jdbcType=VARCHAR},
      </if>
      <if test="isCascade != null">
        is_cascade = #{isCascade,jdbcType=CHAR},
      </if>
      <if test="cascadeId != null">
        cascade_id = #{cascadeId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        create_way = #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.LogOper">
    update wr_log_oper
    set tab_name = #{tabName,jdbcType=VARCHAR},
      oper_type = #{operType,jdbcType=CHAR},
      perm_id = #{permId,jdbcType=VARCHAR},
    is_cascade = #{isCascade,jdbcType=CHAR},
    cascade_id = #{cascadeId,jdbcType=VARCHAR},
    create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_way = #{createWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>