<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.LogOperDetailMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.LogOperDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="log_oper_id" jdbcType="VARCHAR" property="logOperId" />
    <result column="row_id" jdbcType="VARCHAR" property="rowId" />
    <result column="old_val" jdbcType="LONGVARCHAR" property="oldVal" />
    <result column="new_val" jdbcType="LONGVARCHAR" property="newVal" />
  </resultMap>

  <sql id="Base_Column_List">
    id, log_oper_id, row_id, old_val, new_val
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_log_oper_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="queryListByPage" parameterType="com.shouzhi.pojo.db.LogOper" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wr_log_oper_detail wlod
    where 1=1
    <if test="logOperId!=null and logOperId!=''">
      AND wlod.log_oper_id = #{logOperId,jdbcType=VARCHAR}
    </if>

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_log_oper_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.LogOperDetail">
    insert into wr_log_oper_detail (id, log_oper_id, row_id, 
      old_val, new_val)
    values (#{id,jdbcType=VARCHAR}, #{logOperId,jdbcType=VARCHAR}, #{rowId,jdbcType=VARCHAR},
      #{oldVal,jdbcType=LONGVARCHAR}, #{newVal,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.LogOperDetail">
    insert into wr_log_oper_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logOperId != null">
        log_oper_id,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
      <if test="oldVal != null">
        old_val,
      </if>
      <if test="newVal != null">
        new_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="logOperId != null">
        #{logOperId,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="oldVal != null">
        #{oldVal,jdbcType=LONGVARCHAR},
      </if>
      <if test="newVal != null">
        #{newVal,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.LogOperDetail">
    update wr_log_oper_detail
    <set>
      <if test="logOperId != null">
        log_oper_id = #{logOperId,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="oldVal != null">
        old_val = #{oldVal,jdbcType=LONGVARCHAR},
      </if>
      <if test="newVal != null">
        new_val = #{newVal,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.LogOperDetail">
    update wr_log_oper_detail
    set log_oper_id = #{logOperId,jdbcType=VARCHAR},
      row_id = #{rowId,jdbcType=VARCHAR},
      old_val = #{oldVal,jdbcType=LONGVARCHAR},
      new_val = #{newVal,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--批量插入-->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into wr_log_oper_detail (id, log_oper_id, row_id,
    old_val, new_val)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.logOperId,jdbcType=VARCHAR}, #{item.rowId,jdbcType=VARCHAR},
      #{item.oldVal,jdbcType=LONGVARCHAR}, #{item.newVal,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

</mapper>