<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.SchCourseCategoryMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.SchCourseCategory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_way" jdbcType="VARCHAR" property="createWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, category_code, category_name, create_id, create_by, create_way, create_time, 
    remark, is_delete, delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_sch_course_category
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(0) FROM wr_sch_course_category wscc WHERE wscc.is_delete = '0'
  </select>


  <select id="queryListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wr_sch_course_category wscc
    where wscc.is_delete='0'
    <if test="categoryCode!=null and categoryCode!=''">
      AND wscc.category_code = #{categoryCode,jdbcType=VARCHAR}
    </if>
    <if test="categoryName!=null and categoryName!=''">
      AND wscc.category_name = #{categoryName,jdbcType=VARCHAR}
    </if>
    <if test="categoryNameLike!=null and categoryNameLike!=''">
      AND wscc.category_name LIKE concat('%',#{categoryNameLike,jdbcType=VARCHAR},'%')
    </if>
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_sch_course_category
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.SchCourseCategory">
    insert into wr_sch_course_category (id, category_code, category_name, 
      create_id, create_by, create_way, 
      create_time, remark, is_delete, 
      delete_time)
    values (#{id,jdbcType=VARCHAR}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createWay,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.SchCourseCategory">
    insert into wr_sch_course_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createWay != null">
        create_way,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="categoryCode != null">
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.SchCourseCategory">
    update wr_sch_course_category
    <set>
      <if test="categoryCode != null">
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        create_way = #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.SchCourseCategory">
    update wr_sch_course_category
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_way = #{createWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--批量删除 此操作很危险，不允许where后携带1=1，一旦参数未传将会删除整张表数据-->
  <delete id="batchDelete" parameterType="java.util.Map" >
    delete from wr_sch_course_category
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </delete>

  <!--批量查询 -->
  <select id="BatchSelect" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from wr_sch_course_category
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </select>

  <!--批量插入 -->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into wr_sch_course_category
      (id, category_code, category_name, create_id, create_by,
      create_way, create_time, remark)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.categoryCode,jdbcType=VARCHAR},
      #{item.categoryName,jdbcType=VARCHAR}, #{item.createId,jdbcType=VARCHAR},
      #{item.createBy,jdbcType=VARCHAR}, #{item.createWay,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>