<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.SchCourseTableLiveMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.SchCourseTableLive">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sch_course_table_base_id" jdbcType="VARCHAR" property="schCourseTableBaseId" />
    <result column="course_desc" jdbcType="VARCHAR" property="courseDesc" />
    <result column="weeks" jdbcType="INTEGER" property="weeks" />
    <result column="date_for_weeks" jdbcType="TIMESTAMP" property="dateForWeeks" />
    <result column="is_record" jdbcType="CHAR" property="isRecord" />
    <result column="plan_form" jdbcType="VARCHAR" property="planForm" />
    <result column="plan_creator" jdbcType="VARCHAR" property="planCreator" />
    <result column="is_cancel" jdbcType="CHAR" property="isCancel" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_way" jdbcType="VARCHAR" property="createWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />

    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_type" jdbcType="CHAR" property="courseType" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
    <result column="section_num_v" jdbcType="VARCHAR" property="sectionNumV" />
    <result column="start_time" jdbcType="TIME" property="startTime" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
    <result column="week_v" jdbcType="VARCHAR" property="weekV" />

    <result column="sys_person_name" jdbcType="VARCHAR" property="sysPersonName" />
    <result column="sys_dep_name" jdbcType="VARCHAR" property="sysDepName" />
    <result column="sch_space_name" jdbcType="VARCHAR" property="schSpaceName" />
    <result column="sch_category_name" jdbcType="VARCHAR" property="schCategoryName" />
    <result column="sch_class_names" jdbcType="VARCHAR" property="schClassNames" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sch_course_table_base_id, course_desc, weeks, date_for_weeks, is_record, plan_form, plan_creator, is_cancel,
    create_id, create_by, create_way, create_time, remark, is_delete, delete_time
  </sql>

  <sql id="Alias_Column_List">
    wsctl.id, wsctl.sch_course_table_base_id, wsctl.course_desc, wsctl.weeks, wsctl.date_for_weeks, wsctl.is_record, wsctl.plan_form, wsctl.plan_creator, wsctl.is_cancel,
    wsctl.create_id, wsctl.create_by, wsctl.create_way, wsctl.create_time, wsctl.remark, wsctl.is_delete, wsctl.delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_sch_course_table_live
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--根据参数查询，返回单个实例-->
  <select id="selectOneByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List" />
    from wr_sch_course_table_live wsctl
    where wsctl.is_delete='0'
    <if test="id!=null and id!=''">
      AND wsctl.id = #{id,jdbcType=VARCHAR}
    </if>
    GROUP BY wsctl.id
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(0) FROM wr_sch_course_table_live wsctl WHERE wsctl.is_delete = '0'
  </select>

  <!--  -->
  <select id="queryListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Alias_Column_List" /> ,
    wsctb.course_name, wsctb.course_type, wsctb.people_num, wsctb.section_num_v, wsctb.start_time, wsctb.end_time, wsctb.week_v,
    wsu.person_name sys_person_name,
    wsd.dep_name sys_dep_name,
    CONCAT(wss.parent_space_names,wss.space_name) sch_space_name,
    wscc.category_name sch_category_name,
    GROUP_CONCAT(wsgc.class_name) sch_class_names
    from wr_sch_course_table_live wsctl
    LEFT JOIN wr_sch_course_table_base wsctb ON wsctl.sch_course_table_base_id=wsctb.id
    LEFT JOIN wr_sys_user wsu ON wsctb.sys_user_id=wsu.id
    LEFT JOIN wr_sys_department wsd ON wsctb.sys_department_id=wsd.id
    LEFT JOIN wr_sch_space wss ON wsctb.sch_space_id=wss.id
    LEFT JOIN wr_sch_course_category wscc ON wsctb.sch_course_category_id=wscc.id
    LEFT JOIN wr_sch_course_table_base_grade_class wsctbgc ON wsctb.id=wsctbgc.sch_course_table_base_id
    LEFT JOIN wr_sch_grade_class wsgc ON wsctbgc.sch_grade_class_id=wsgc.id
    where wsctl.is_delete='0'
    <if test="weeks!=null and weeks!=''">
      AND wsctl.weeks = #{weeks,jdbcType=INTEGER}
    </if>
    <if test="sectionNumLike!=null and sectionNumLike!=''">
      AND wsctb.section_num LIKE concat('%',#{sectionNumLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="week!=null and week!=''">
      AND wsctb.week = #{week,jdbcType=INTEGER}
    </if>
    <!-- 因为含有 wss.id=#{id} 所以无法在代码层去拼接斜杠，故在xml层拼接 -->
    <if test="schSpaceParentIdsFuzzy!=null and schSpaceParentIdsFuzzy!=''">
      AND (wss.parent_ids LIKE concat('%/',#{schSpaceParentIdsFuzzy,jdbcType=VARCHAR},'/%') OR wss.id = #{schSpaceParentIdsFuzzy,jdbcType=VARCHAR})
    </if>
    <if test="courseOrPersonNameLike!=null and courseOrPersonNameLike!=''">
      AND (wsu.person_name LIKE concat('%',#{courseOrPersonNameLike,jdbcType=VARCHAR},'%') or wsctb.course_name LIKE concat('%',#{courseOrPersonNameLike,jdbcType=VARCHAR},'%'))
    </if>
    GROUP BY wsctl.id
    ORDER BY wsctl.create_time DESC
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_sch_course_table_live
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.SchCourseTableLive">
    insert into wr_sch_course_table_live (id, sch_course_table_base_id, course_desc, 
      weeks, date_for_weeks, is_record, plan_form, plan_creator,
      is_cancel, create_id, create_by, 
      create_way, create_time, remark, 
      is_delete, delete_time)
    values (#{id,jdbcType=VARCHAR}, #{schCourseTableBaseId,jdbcType=VARCHAR}, #{courseDesc,jdbcType=VARCHAR}, 
      #{weeks,jdbcType=INTEGER}, #{dateForWeeks,jdbcType=TIMESTAMP}, #{isRecord,jdbcType=CHAR}, #{planForm,jdbcType=VARCHAR}, #{planCreator,jdbcType=VARCHAR},
      #{isCancel,jdbcType=CHAR}, #{createId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createWay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{deleteTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.SchCourseTableLive">
    insert into wr_sch_course_table_live
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schCourseTableBaseId != null">
        sch_course_table_base_id,
      </if>
      <if test="courseDesc != null">
        course_desc,
      </if>
      <if test="weeks != null">
        weeks,
      </if>
      <if test="weeks != null">
        date_for_weeks,
      </if>
      <if test="isRecord != null">
        is_record,
      </if>
      <if test="planForm != null">
        plan_form,
      </if>
      <if test="planCreator != null">
        plan_creator,
      </if>
      <if test="isCancel != null">
        is_cancel,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createWay != null">
        create_way,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schCourseTableBaseId != null">
        #{schCourseTableBaseId,jdbcType=VARCHAR},
      </if>
      <if test="courseDesc != null">
        #{courseDesc,jdbcType=VARCHAR},
      </if>
      <if test="weeks != null">
        #{weeks,jdbcType=INTEGER},
      </if>
      <if test="dateForWeeks != null">
        #{dateForWeeks,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecord != null">
        #{isRecord,jdbcType=CHAR},
      </if>
      <if test="planForm != null">
        #{planForm,jdbcType=VARCHAR},
      </if>
      <if test="planCreator != null">
        #{planCreator,jdbcType=VARCHAR},
      </if>
      <if test="isCancel != null">
        #{isCancel,jdbcType=CHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.SchCourseTableLive">
    update wr_sch_course_table_live
    <set>
      <if test="schCourseTableBaseId != null">
        sch_course_table_base_id = #{schCourseTableBaseId,jdbcType=VARCHAR},
      </if>
      <if test="courseDesc != null">
        course_desc = #{courseDesc,jdbcType=VARCHAR},
      </if>
      <if test="weeks != null">
        weeks = #{weeks,jdbcType=INTEGER},
      </if>
      <if test="dateForWeeks != null">
        date_for_weeks = #{dateForWeeks,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecord != null">
        is_record = #{isRecord,jdbcType=CHAR},
      </if>
      <if test="planForm != null">
        plan_form = #{planForm,jdbcType=VARCHAR},
      </if>
      <if test="planCreator != null">
        plan_creator = #{planCreator,jdbcType=VARCHAR},
      </if>
      <if test="isCancel != null">
        is_cancel = #{isCancel,jdbcType=CHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        create_way = #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.SchCourseTableLive">
    update wr_sch_course_table_live
    set sch_course_table_base_id = #{schCourseTableBaseId,jdbcType=VARCHAR},
      course_desc = #{courseDesc,jdbcType=VARCHAR},
      weeks = #{weeks,jdbcType=INTEGER},
      date_for_weeks = #{dateForWeeks,jdbcType=TIMESTAMP},
      is_record = #{isRecord,jdbcType=CHAR},
      plan_form = #{planForm,jdbcType=VARCHAR},
    plan_creator = #{planCreator,jdbcType=VARCHAR},
    is_cancel = #{isCancel,jdbcType=CHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_way = #{createWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--批量插入-->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into wr_sch_course_table_live (id, sch_course_table_base_id, course_desc,
    weeks, date_for_weeks, is_record, plan_form, plan_creator,
    is_cancel, create_id, create_by,
    create_way, create_time, remark)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id,jdbcType=VARCHAR}, #{item.schCourseTableBaseId,jdbcType=VARCHAR}, #{item.courseDesc,jdbcType=VARCHAR},
      #{item.weeks,jdbcType=INTEGER}, #{item.dateForWeeks,jdbcType=TIMESTAMP}, #{item.isRecord,jdbcType=CHAR}, #{item.planForm,jdbcType=VARCHAR}, #{item.planCreator,jdbcType=VARCHAR},
      #{item.isCancel,jdbcType=CHAR}, #{item.createId,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createWay,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>


  <!--批量删除 此操作很危险，不允许where后携带1=1，一旦参数未传将会删除整张表数据-->
  <delete id="batchDelete" parameterType="java.util.Map" >
    delete from wr_sch_course_table_live
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </delete>

  <!--批量查询 -->
  <select id="BatchSelect" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from wr_sch_course_table_live
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>
  </select>

</mapper>