<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.ServerHostMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.ServerHost">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="host_protocol" jdbcType="VARCHAR" property="hostProtocol" />
    <result column="host_addr" jdbcType="VARCHAR" property="hostAddr" />
    <result column="host_port" jdbcType="VARCHAR" property="hostPort" />
    <result column="host_type" jdbcType="CHAR" property="hostType" />
    <result column="host_desc" jdbcType="VARCHAR" property="hostDesc" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_way" jdbcType="VARCHAR" property="createWay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, host_protocol, host_addr, host_port, host_type, host_desc, create_id, create_by, 
    create_way, create_time, remark, is_delete, delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_server_host
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!--根据参数查询，返回单个实例-->
  <select id="selectOneByParam" parameterType="com.shouzhi.pojo.db.ServerHost" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wr_server_host wsh
    where wsh.is_delete='0'
    <if test="hostType!=null and hostType!=''">
      AND wsh.host_type = #{hostType,jdbcType=CHAR}
    </if>
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT count(0) FROM wr_server_host wsh WHERE wsh.is_delete = '0'
  </select>


  <select id="queryListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wr_server_host wsh
    where wsh.is_delete='0'
    <if test="hostProtocolLike!=null and hostProtocolLike!=''">
      AND wsh.host_protocol LIKE concat('%',#{hostProtocolLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="hostAddrLike!=null and hostAddrLike!=''">
      AND wsh.host_addr LIKE concat('%',#{hostAddrLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="hostPortLike!=null and hostPortLike!=''">
      AND wsh.host_port LIKE concat('%',#{hostPortLike,jdbcType=VARCHAR},'%')
    </if>
    <if test="hostType!=null and hostType!=''">
      AND wsh.host_type = #{hostType,jdbcType=CHAR}
    </if>

  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_server_host
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.ServerHost">
    insert into wr_server_host (id, host_protocol, host_addr, 
      host_port, host_type, host_desc, 
      create_id, create_by, create_way, 
      create_time, remark, is_delete, 
      delete_time)
    values (#{id,jdbcType=VARCHAR}, #{hostProtocol,jdbcType=VARCHAR}, #{hostAddr,jdbcType=VARCHAR}, 
      #{hostPort,jdbcType=VARCHAR}, #{hostType,jdbcType=CHAR}, #{hostDesc,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createWay,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.ServerHost">
    insert into wr_server_host
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hostProtocol != null">
        host_protocol,
      </if>
      <if test="hostAddr != null">
        host_addr,
      </if>
      <if test="hostPort != null">
        host_port,
      </if>
      <if test="hostType != null">
        host_type,
      </if>
      <if test="hostDesc != null">
        host_desc,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createWay != null">
        create_way,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hostProtocol != null">
        #{hostProtocol,jdbcType=VARCHAR},
      </if>
      <if test="hostAddr != null">
        #{hostAddr,jdbcType=VARCHAR},
      </if>
      <if test="hostPort != null">
        #{hostPort,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null">
        #{hostType,jdbcType=CHAR},
      </if>
      <if test="hostDesc != null">
        #{hostDesc,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.ServerHost">
    update wr_server_host
    <set>
      <if test="hostProtocol != null">
        host_protocol = #{hostProtocol,jdbcType=VARCHAR},
      </if>
      <if test="hostAddr != null">
        host_addr = #{hostAddr,jdbcType=VARCHAR},
      </if>
      <if test="hostPort != null">
        host_port = #{hostPort,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null">
        host_type = #{hostType,jdbcType=CHAR},
      </if>
      <if test="hostDesc != null">
        host_desc = #{hostDesc,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createWay != null">
        create_way = #{createWay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.ServerHost">
    update wr_server_host
    set host_protocol = #{hostProtocol,jdbcType=VARCHAR},
      host_addr = #{hostAddr,jdbcType=VARCHAR},
      host_port = #{hostPort,jdbcType=VARCHAR},
      host_type = #{hostType,jdbcType=CHAR},
      host_desc = #{hostDesc,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_way = #{createWay,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>