<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouzhi.mapper.ShortcutMenuMapper">
  <resultMap id="BaseResultMap" type="com.shouzhi.pojo.db.ShortcutMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sys_permission_id" jdbcType="VARCHAR" property="sysPermissionId" />
    <result column="sys_user_id" jdbcType="VARCHAR" property="sysUserId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>

  <!--SysPermission的ResultMap-->
  <resultMap id="PermissionBaseResultMap" type="com.shouzhi.pojo.db.SysPermission">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="percode" jdbcType="VARCHAR" property="percode" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="ascription_type" jdbcType="CHAR" property="ascriptionType" />
    <result column="icon_style" jdbcType="VARCHAR" property="iconStyle" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="is_locked" jdbcType="CHAR" property="isLocked" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sys_permission_id, sys_user_id, create_id, create_by, create_time, remark, is_delete, 
    delete_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wr_shortcut_menu
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectPermissionsByUserId" parameterType="java.lang.String" resultMap="PermissionBaseResultMap">
    SELECT wsp.* FROM wr_shortcut_menu wsm
    LEFT JOIN wr_sys_permission wsp ON wsm.sys_permission_id = wsp.id AND wsp.is_delete='0'
    WHERE wsm.is_delete='0' and wsm.sys_user_id = #{sysUserId,jdbcType=VARCHAR}
  </select>

  <select id="queryListByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wr_shortcut_menu wsm
    where wsm.is_delete='0'
    <if test="sysPermissionId!=null and sysPermissionId!=''">
      AND wsm.sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR}
    </if>
    <if test="sysUserId!=null and sysUserId!=''">
      AND wsm.sys_user_id = #{sysUserId,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wr_shortcut_menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.shouzhi.pojo.db.ShortcutMenu">
    insert into wr_shortcut_menu (id, sys_permission_id, sys_user_id, 
      create_id, create_by, create_time, 
      remark, is_delete, delete_time
      )
    values (#{id,jdbcType=VARCHAR}, #{sysPermissionId,jdbcType=VARCHAR}, #{sysUserId,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.shouzhi.pojo.db.ShortcutMenu">
    insert into wr_shortcut_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysPermissionId != null">
        sys_permission_id,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysPermissionId != null">
        #{sysPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.shouzhi.pojo.db.ShortcutMenu">
    update wr_shortcut_menu
    <set>
      <if test="sysPermissionId != null">
        sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.shouzhi.pojo.db.ShortcutMenu">
    update wr_shortcut_menu
    set sys_permission_id = #{sysPermissionId,jdbcType=VARCHAR},
      sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!--批量插入-->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into wr_shortcut_menu (id, sys_permission_id, sys_user_id,
    create_id, create_by,
    remark
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.sysPermissionId,jdbcType=VARCHAR}, #{item.sysUserId,jdbcType=VARCHAR},
      #{item.createId,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR},
      #{item.remark,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <!--批量删除 此操作很危险，不允许where后携带1=1，一旦参数未传将会删除整张表数据-->
  <delete id="batchDelete" parameterType="java.util.Map" >
    delete from wr_shortcut_menu
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysPermissionIdIn != null">
      sys_permission_id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysPermissionIdEq != null">
      sys_permission_id = #{sysPermissionIdEq,jdbcType=VARCHAR}
    </if>

    <if test="sysUserIdIn != null">
      sys_user_id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysUserIdEq != null">
      sys_user_id = #{sysUserIdEq,jdbcType=VARCHAR}
    </if>
  </delete>

  <!--批量查询 -->
  <select id="BatchSelect" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from wr_shortcut_menu
    where
    <if test="idIn != null">
      id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysPermissionIdIn != null">
      sys_permission_id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysPermissionIdEq != null">
      sys_permission_id = #{sysPermissionIdEq,jdbcType=VARCHAR}
    </if>

    <if test="sysUserIdIn != null">
      sys_user_id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item,jdbcType=VARCHAR}
      </foreach>
    </if>

    <if test="sysUserIdEq != null">
      sys_user_id = #{sysUserIdEq,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>